# dependencies
/node_modules

.env

# client
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules

.DS_Store
.env

#server
/server/node_modules
